/*ESTILOS DE HEADER*/
*{margin:0; padding: 0;}
header{
	width: 100%;
	overflow: hidden;
	background:#34633D;
}

header .logo{
	color:#fff;
	font-size: 30px;
	line-height: 100px;
	float: left;
	padding: 10px;
	width: 720px;
	display: flex;
	margin-left:1%; 
}
header .logo img{
	border-right: 2px solid #CEA92C; 
	padding: 10px; 
	display: flex; 
	width: 15%;
}
header .logo p{
	font-size: 20px; 
	display: flex; 
	width: 80%; 
	float: right; 
	color: #CEA92C; 
	margin-left:10px;
	font-weight: 600;
}
header nav{
	float: right;
	line-height: 130px;
	margin-right: 2%;
}
.linkn{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 10px;
	line-height: normal;
	font-size: 14pt;
	-web-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease
}
.linkn:hover{
	color: #CEA92C;
	border:1px solid #CEA92C;
}
@media screen and (max-width: 950px){
	header .logo,
	header nav{
		width: 100%;
		text-align: center;
		line-height: 80px;
	}
}

